/*General attributes go here*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #000;
}
h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  color: #fff;
}
.row {
  width: 100%;
}
.wrapper {
  margin: 0;
  padding: 0;
  max-width: 400px;
}
.container {
  background: #F2F2F2;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

/*Start Page structures & specific classess & id's go here*/

/*Top bar design*/
.topbardiv {
  background: #000;
  float: left;
  width: 100%;
  max-width: 100vw;
  min-width: 100vw;
  height: 50px;
  color: #fff;
  z-index: 1000;
  opacity: 1;
}
.logodiv {
  float: left;
  height: 100%;
  width: 20vw;
}
.logodiv img {
  background-image: url("images/nlvlogo.jpg");
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
#topbarmenu {
  float: right;
  text-align: center;
}
#topbarmenu ul {
  margin: 0px;
  padding: 0px;
  height: 50px;
}
#topbarmenu li {
  list-style: none;
  font-weight: bold;
  font-size: 11px;
  padding-top: 0;
  width: 20vw;
  max-width: 20vw;
  height: 50px;
  float: left;
  text-transform: uppercase;
  text-align: center;
}
#topbarmenu a {
  text-align: center;
  text-decoration: none;
  color: #fff;
}
li:focus, li:active {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
li:focus, li:active * {
  color: #3D3C3A;
}

/*Main page/fold design*/
.mainfolddiv {
  top: 50px;
  width: 100vw;
  max-width: 100vw;
  height: 300px;
  background: #000;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap;
}
.mainfoldalpha {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50px;
  float: left;
}
.mainfoldalpha img {
  background-image: url("images/mewithmykids320wbw.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  width: 100vw;
  opacity: 0.95;
  overflow: hidden;
}
.mainfoldmessage {
  float: left;
  width: 100%;
  height: 100%;
  border: none;
}
.message {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  vertical-align: middle;
  font-size: 1em;
  font-weight: bold;
  text-align: right;
  color: #fff;
  z-index: 2;
  opacity: 0.90;
  padding-right: 10px;
}
#contactbutton {
  background: #FF4000;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 1.15em;
  padding: 10px;
  color: #000;
  display: inline-block;
}
#contactbutton:focus, #contactbutton:active {
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  color: #FF4000;
  background-color: #FFDF00;
  box-shadow: 0 0 25px #fff;
  font-weight: bold;
}

/*Subsequent pages*/
.secondfolddiv {
  position: absolute;
  align-content: center;
  justify-content: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: #000;
  display: flex;
  flex-wrap: wrap;
}
.itemblock {
  background: #000;
  padding: 10px 0 0 20px;
  max-width: 100vw;
  height: 100%;
}
.itemblock h3 {
  font-weight: bold;
  font-size: 1.15em;
  color: #fff;
}
.itemblock img {
  padding: 20px;
  background-size: contain;
}
.itemblock:focus, .itemblock:active {
  background-color: #fff;
  box-shadow: 0 0 30px #fff;
  color: #FF4000;
}